{% load static %}
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JMNJEV4</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'css/all.min.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

</head>
<body>

    <!-- dashboard -->
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard'%}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">JMNJEV4</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'verproductos'%}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Ver Productos</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'buscarproducto'%}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Buscar Producto</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'verclientes'%}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Ver Clientes</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'verventas'%}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Ventas</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'venderproducto'%}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Vender Producto</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'publicidad'%}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Publicidad</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="../admin/">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Administracion</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'graficocliente' %}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Grafico Cliente</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'graficoproducto' %}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Grafico Productos</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <a href="{% url 'crearclientes' %}">
            <button type="button" class="btn btn-info">Crear Clientes</button>
            </a>

            <hr class="sidebar-divider">

            <a href="{% url 'crearproductos' %}">
            <button type="button" class="btn btn-secondary">Crear Productos</button>
            </a>

        </ul>
    <!-- FIN dashboard -->
        <div class="container">
            <form action="{% url 'dashboard'%}" >
                    <div class="form-group" style="text-align:center;">
                      <label for="CodigoBarra">Codigo Barra</label>
                        <div style="text-align:center;">
                            <img src="{% static 'barcode/'%}{{productob.codProducto}}.jpg" id="CodigoBarra">
                        </div>
                    </div>

                    <div class="form-group">
                      <label for="Nombre" >Nombre</label>
                      <input type="text" class="form-control" id="Nombre" value="{{ productob.Nombre_Producto }}" disabled="True">
                    </div>

                    <div class="form-group">
                      <label for="Euro" >Valor Euro</label>
                      <input type="text" class="form-control" id="Euro" value="{{ productob.Valor_en_Euro }}" disabled="True">
                    </div>

                    <div class="form-group">
                      <label for="CLP" >Valor CLP</label>
                      <input type="text" class="form-control" id="CLP" value="{{ productob.Valor_en_Peso }}" disabled="True">
                    </div>

                    <div class="form-group">
                      <label for="Proovedor" >Proovedor</label>
                      <input type="text" class="form-control" id="Proovedor" value="{{ productob.Proovedor }}" disabled="True">
                    </div>

                    <div class="form-group">
                      <label for="Cantidad" >Cantidad Por Unidad</label>
                      <input type="text" class="form-control" id="Cantidad" value="{{ productob.Cantidad_por_Unidad }}" disabled="True">
                    </div>

                    <div class="form-group">
                      <label for="Stock" >Stock</label>
                      <input type="text" class="form-control" id="Stock" value="{{ productob.Stock }}" disabled="True">
                    </div>
                <div style="text-align:center;">
                    <button type="submit" class="btn btn-primary">Volver</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>